# Nord Pool API v2 key
# Obtain from: https://developers.nordpoolgroup.com
NORDPOOL_API_KEY=

# ENTSO-E Transparency Platform security token
# Obtain from: https://transparency.entsoe.eu/usrm/user/myAccountSettings
ENTSOE_API_KEY=
